/* Taille de l'écran affichage html: 1537px x 692px */
/* 1em  = 12pt en tant que taille du texte */
.main {
  background-color: rgb(207, 9, 207);

  width: 620px;
  height: 120px;

  position: absolute;
  left: 750px;
  top: 100px;
  transform: translateX(-50%) translateY(-50%);

  padding: 20px;

  font-size: 2.5em;
  font-weight: 600;
  color: red;
  text-align: center;
}

.gif {
  width: 1000px;
  height: 600px;

  position: absolute;
  left: 200px;
  top: 300px;
}

/* Boutons pour accéder aux différents services de la page */
.commit_btn {
  background:url(.images/funny_commits.png);
  background-size: 100%;
  color: white;
  font-weight: 600;
  cursor: pointer;

  border: 0;

  font-size: 2em;
  width: 200px;
  height: 200px;

  position: absolute;
  top: 200px;
  left: 200px;
}

.git_race_btn {
  background:url(.images/race_monstre.png);
  background-size: 100%;
  font-weight: 600;
  cursor: pointer;

  border: 0;

  color: red;
  font-size: 2em;
  width: 200px;
  height: 120px;

  position: absolute;
  top: 250px;
  left: 700px;
}

.twinder_btn {
  background:url(.images/follow_not_follow.png);
  background-size: 100%;
  color: darkorange;
  font-weight: 600;
  cursor: pointer;

  border: 0;

  font-size: 2em;
  width: 200px;
  height: 200px;

  position: absolute;
  top: 200px;
  left: 1200px;
}

/* Titre de chaque service de la page */
.patate {
  font-size: 3em;
  font-weight: 600;
  color: rgba(27, 253, 7, 0.925);
  text-align: center;
  
  position: relative;
  top: 692px;
}

.potato {
  font-size: 3em;
  font-weight: 600;
  color: rgba(27, 253, 7, 0.925);
  text-align: center;
  
  position: relative;
  top: 1522px;
}

.patata {
  font-size: 3em;
  font-weight: 600;
  color: rgba(27, 253, 7, 0.925);
  text-align: center;
  
  position: relative;
  top: 3022px;
}

/* Bouton pour retourner tout en haut de la page */
.back_btn {
  background-color: purple;
  color: red;
  font-weight: 600;
  cursor: pointer;

  border: 0;

  font-size: 0.45em;
  width: 180px;
  height: 30px;

  position: absolute;
  top: 200px;
  left: 10px;
}

/* Scroll bar elements */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Agrandit le bouton si on met le pointeur la souris dessus */
/* .commit:hover {
  font-size: 25px;
  width: 120px;
  height: 40px;
} */

/* .description {
  position: absolute;
  left: 30%;
  top: 5%;
}

#userImage {
  height: 150px;
  width: 150px;

  border: 2px solid rgb(0, 0, 0);
}

.user-information {
  position: absolute;
  bottom: 0;
  left: 120px;

  text-align: center;

  width: 80%;
  display: flex;
  justify-content: center;

  padding: 30px 0;
}

.user-information div {
  width: calc(100% / 3);
}

.details {
  color: rgb(12, 207, 6);
} */